html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 50px;
}

.ng-scope {
    height: 100%;
}

.jumbotron {
    min-height: 500px;
    height: 90%;
}

.modal-backdrop.am-fade {
    opacity: 0.5;
    transition: 0.15s linear;
}

.error-message {
    color: red;
}

a {
    cursor: pointer;
}

/* Wrapper for page content to push down footer */
/*#wrap {*/
    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/
    /* Negative indent footer by it's height */
    /*margin: 0 auto -60px;*/
/*}*/

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #F5F5F5;
}

.kitchen-bottom-section {
    height: 100%;
    margin-top: 20px;
}
