html, body, .ng-scope {
    height: 100%;
}

body {
    padding-top: 50px;
}

#kitchen-wrap-footer
{
    height: 100%;
    margin: 0 0 -60px 0;
}

#kitchen-wrap, #kitchen-wide-wrap {
    height: 100%;
    margin: 0;
}

#kitchen-project-menu {
    height: 100%;
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: #222;
}

.error-message {
    color: red;
}

a {
    cursor: pointer;
}

#footer {
    height: 60px;
    margin: 0 auto;
}

footer > div > a:hover {
    color: #00bfff;
}

.kitchen-new-project-item {
    height: 80px;
    padding: 25px 0 0 10px;
    margin-top: 10px;
    cursor: pointer;
    background: #428bca;
    color: white;
}

.kitchen-new-project-item:hover {
    background: #3276b1;
}

.kitchen-project-item {
    height: 80px;
    padding-left: 10px;
    margin-top: 8px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #eee;
}

.kitchen-project-item:hover {
    background: #eee;
}

.kitchen-menu-list {
    list-style-type: none;
    padding: 20px 0 0 20px;
    margin: 0;
    line-height: 10px;
}

.kitchen-menu-link {
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
}

.kitchen-menu-sub-list {
    list-style-type: none;
    padding: 10px 0 10px 20px;
    margin: 0px;
    line-height: 20px;
}

.kitchen-menu-sub-link {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

.kitchen-doc-img {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.kitchen-scrollable {
    overflow-y: auto;
    height: 100%;
}

.kitchen-short {
    padding-bottom: 60px;
}

