html, body, .ng-scope, #wrap {
    height: 100%;
}

body {
    padding-top: 50px;
}

#wrap {
    margin: 0 0 -60px;
}

.jumbotron {
    height: 100%;
    margin: 0;
}

.error-message {
    color: red;
}

a {
    cursor: pointer;
}

#footer {
    height: 60px;
    margin: 0 auto;
}

footer > div > a:hover {
    color: #00bfff;
}

.kitchen-bottom-section {
    height: 100%;
    margin-top: 20px;
}

.kitchen-new-project-item {
    height: 80px;
    padding: 25px 0 0 10px;
    margin-top: 10px;
    cursor: pointer;
    background: #428bca;
    color: white;
}

.kitchen-new-project-item:hover {
    background: #3276b1;
}

.kitchen-old-project-item {
    height: 80px;
    padding-left: 10px;
    margin-top: 8px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #eee;
}

.kitchen-old-project-item:hover {
    background: #eee;
}


