{% extends "ide/inside/base2.html" %}

{% block base1-navbar %}
    <ul class="nav navbar-nav">
        <li><a>Shoes</a></li>
        <li><a>Ships</a></li>
        <li><a>Sealing Wax</a></li>
    </ul>
    <div class="navbar-collapse collapse">
        <button type="button" class="btn btn-primary navbar-btn pull-right" ng-click="logout()">
            Log Out
        </button>
    </div>
{% endblock %}

{% block base1-content %}
    <div id="kitchen-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <br>
                    <h2>Ohh.</h2>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

