<div ng-controller="LoginCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Kitchen IDE</a>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">

                <h2>Hey {% verbatim %}{{firstName}}{% endverbatim %},</h2>
                <br>
                <p class="lead">Your record is already in database, but you profile is not activated yet.</p>
                <p class="lead"><a href="mailto:shmakir@yandex.ru">Send us</a> an email, if you have some questions.</p>
                <p class="lead">Kitchen Team</p>
            </div>
        </div>
    </div>

    {% include "footer_unathorized.html" %}
</div>