{% extends "login/base.html" %}

{% block content %}
    <div id="kitchen-wrap" class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Hey {% verbatim %}{{firstName}}{% endverbatim %},</h2>
                    <br>

                    <p class="lead">you was successfully identified, but your access is limited right now.
                        There are number of possible reasons for that.</p>

                    <p class="lead">If you just signed up and didn't enter Kitchen IDE for now, then probably
                        it is because you wasn't granted manual verification yet.</p>

                    <p class="lead">If you have already been inside Kitchen IDE, then it could be
                        due to some server work or because your account was inactivated manually.</p>

                    <p class="lead"><a href="mailto:shmakir@yandex.ru">Send us</a>
                        an email, if you have some questions.
                    </p>
                </div>

                <div class="col-md-3 col-md-offset-7">
                    <p class="lead">Kitchen Team</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}