<!doctype html>
{% load staticfiles %}
<html lang="en" ng-app="Kitchen.IDE">
<head>
    <meta charset="utf-8">
	<title ng-bind="title">Loading ...</title>
    <link rel='stylesheet' type='text/css' href="{% static "css/bootstrap.min.css" %}"/>
  	<script src="{% static "js/angular.min.js" %}"></script>
  	<script src="{% static "js/angular-animate.min.js" %}"></script>
    <script src="{% static "js/angular-route.min.js" %}"></script>
  	<script src="{% static "js/angular-sanitize.min.js" %}"></script>
    <script src="{% static "js/angular-strap.min.js" %}"></script>
    <script src="{% static "js/angular-strap.tpl.min.js" %}"></script>
    <script src="{% static "js/kitchen-ide.js" %}"></script>
</head>
<body ng-view>
</body>
</html>