<div ng-controller="LoginCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Kitchen IDE</a>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <h2>Hey {% verbatim %}{{firstName}}{% endverbatim %},</h2>
                <br>
                <p class="lead">Your record is already in database, but you profile is not activated yet.</p>
                <p class="lead"><a href="mailto:shmakir@yandex.ru">Send me</a> an email, if you have some questions.</p>
                <p class="lead">Cheers, Kirill</p>
            </div>
        </div>
    </div>

    <div class="container">
        <footer>
            <p>&copy; <a href="http://kshmakov.org">Kirill Shmakov</a></p>
        </footer>
    </div>
</div>