<div class="col-md-4" ng-switch on="autoRegistration">
    <div class="text-center">
        <br>
        <h2>Registration</h2>
        <br>
    </div>
    <div ng-switch-when="on">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" ng-model="signup.firstName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="signup.lastName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="signup.username">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email" ng-model="signup.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="signup.password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Re-enter password" ng-model="signup.verification">
            </div>
            <div class="form-group text-center">
                <a class="btn btn-primary" role="button" ng-click="signUp()">Sign Up</a> to get in
            </div>
        </form>
    </div>
    <div ng-switch-when="off">
        <p class="lead">Right now automatic registration does not work.
        <a href="mailto:shmakir@yandex.ru">Send me</a> an email if you want to get registered.</p>

        <p class="lead">Cheers, Kirill</p>
    </div>
</div>
