<div ng-controller="IDECtrl">
    <div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Kitchen IDE</a>
            </div>
            <div class="collapse navbar-collapse">
                {% block navbar %}
                {% endblock %}
                <button type="button" class="btn btn-primary navbar-btn pull-right" ng-click="logOut()">Log Out</button>
            </div>
        </div>
    </div>

    <div id="kitchen-wrap">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="container">
        <footer id="footer" class="row navbar-inverse text-center">
            <div class="col-md-2">
                <a class="navbar" ng-click="navigate('/about/legal/')">Terms of Use</a>
            </div>
            <div class="col-md-2">
                <a class="navbar" href="http://kshmakov.org">&copy; Kirill Shmakov</a>
            </div>
        </footer>
    </div>
</div>