{% extends "ide/projects/base.html" %}

{% block navbar %}
    <li class="active"><a ng-click="navigate('{{ project.url }}')">{{ project.name }}</a></li>
{% endblock %}

{% block content %}
    <div id="kitchen-wide-wrap" class="row">
        <div id="kitchen-project-menu" class="col-md-2 bg-warning">
            <ul class="kitchen-menu-list">
                <li>
                    <a class="kitchen-menu-link">Summary</a>
                </li>
                <li>
                    <a class="kitchen-menu-link">Computations</a>
                    <ul class="kitchen-menu-sub-list">
                        {% for computation in computations %}
                            <li>
                                <a class="kitchen-menu-sub-link">{{ computation.name  }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a class="kitchen-menu-link">Auxiliaries</a>
                </li>
                <li>
                    <a class="kitchen-menu-link">Fusions</a>
                </li>
                <li>
                    <a class="kitchen-menu-link">Objectives</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <p class="lead">{{ summary }}</p>
        </div>
    </div>
{% endblock %}
